<nz-layout>
    <app-top-bar style="position: fixed;width: 100%;z-index: 10">
    </app-top-bar>

  <nz-layout style="padding-top: 55px">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null"
              [nzCollapsedWidth]="0"
              (nzCollapsedChange)="changeWidth()"
              >
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li *ngIf="!isCollapsed">
          <nz-content style="font-size: 20px; color: #0068A7; font-family: NotoSerif;">
            Industry Fields
          </nz-content>
      <nz-content>
      <nz-input-group [nzSuffix]="suffixIcon">
        <input type="text" nz-input placeholder="Filter..." [(ngModel)]="searchValue" />
      </nz-input-group>
      <ng-template #suffixIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
      </nz-content>

          <nz-tree
            [nzData]="nodes"
            [nzSearchValue]="searchValue"
            nzCheckable
            [nzCheckedKeys]="CheckedIndustry"
            (nzCheckBoxChange)="nzCheckIndustry($event)"
            (nzSearchValueChange)="nzEvent($event)"
          >
          </nz-tree>
        </li>

        <li>
          <nz-col nzOffset="4">
            <button type="button" class="btn btn-link" (click)="clear()">
              Clear
            </button>
          </nz-col>

        </li>

        <li *ngIf="isCollapsed">
        <nz-content>
          <nz-input-group [nzSuffix]="suffixIcon">

          </nz-input-group>
          <ng-template #suffixIcon>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </nz-content>
        </li>
      </ul>
    </nz-sider>
    <nz-layout [style]=width>
      <nz-content>
        <div align="right">
          <table>
            <td>
              <label>
                Sort by:
              </label>
            </td>
            <td>
              <nz-select [ngModel]="defalutValue" (ngModelChange)="getSearch()" nzAllowClear nzPlaceHolder="Choose" style="width: 200px">
                <nz-option *ngFor="let sortValue of sortValues" [nzValue]="sortValue" [nzLabel]="sortValue"></nz-option>
              </nz-select>
            </td>
          </table>
        </div>
      </nz-content>

      <nz-content>
        <div *ngFor="let userData of userDatas">
          <div class="card-body">
            <div *ngIf="!isCollapsed">
            <div class="row">
            <div class="col-4"><img src="assets/untitled.png" class="rounded-circle" alt="anonymous-user" style="width: 140px; height:140px;"></div>

                <div class="col-16">
                  <h2>{{userData.firstName +" " + userData.lastName}}
                  <span>{{userData.industry}}</span></h2>
                  <h5>{{userData.headline}}</h5>
                  <hr>
                  <p>{{userData.region}}</p>
                  <p>{{userData.email}}</p>
                  <p>{{userData.phone}}</p>
                  <div class="square"></div>

                </div>
              </div>

            </div>

            <div *ngIf="isCollapsed">
              <div class="row">
              <div class="col-4">
              <img src="assets/untitled.png" class="rounded-circle" alt="anonymous-user" style="width: 60px; height:60px;"></div>
              <div>
                <h2>{{userData.firstName +" " + userData.lastName}}</h2>
                <hr>
                <p style="color: #0068A7;">{{userData.industry}}</p>
              </div>
              </div>
            </div>
          </div>
          <br/>
        </div>
        <br/>
        <div align="center">
          <nz-pagination (nzPageIndexChange)="changePage($event)" [nzPageIndex]=pageNum+1 [nzTotal]=50 nzShowQuickJumper></nz-pagination>
        </div>
        <br/>
        <nz-footer>Footer</nz-footer>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
