<table align="center">
  <tr>
    <td height="60px" width="20px">
      <label>
        <input type="checkbox">
      </label>
    </td>
    <td height="60px" width="100px">
      setting1
    </td>
  </tr>
  <tr>
    <td height="60px" width="20px">
      <label>
        <input type="checkbox">
      </label>
    </td>
    <td height="60px" width="100px">
      setting2
    </td>
  </tr>
  <tr>
    <td height="60px" width="20px">
      <label>
        <input type="checkbox">
      </label>
    </td>
    <td height="60px" width="100px">
      setting3
    </td>
  </tr>
  <tr>
    <td height="60px" width="20px">
      <label>
        <input type="checkbox">
      </label>
    </td>
    <td height="60px" width="100px">
      setting4
    </td>
  </tr>
  <tr>
    <td height="60px" width="20px">
      <label>
        <input type="checkbox">
      </label>
    </td>
    <td height="60px" width="100px">
      setting5
    </td>
  </tr>
  <tr>
    <td height="60px" width="20px">
      <label>
        <input type="checkbox">
      </label>
    </td>
    <td height="60px" width="100px">
      setting6
    </td>
  </tr>
</table>
