<!DOCTYPE html>
<nz-content *ngIf="!edit_user_info">
<nz-content>
  <div align="right">
    <table>
      <td>
        <label>
          Search:
        </label>
      </td>
      <td>
        <nz-input-group nzSearch [nzAddOnAfter]="search_user">
          <input type="text" nz-input placeholder="Input username" [(ngModel)]="searchValue"/>
        </nz-input-group>
        <ng-template #search_user >
          <button (click)="search(searchValue)" nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
      </td>
    </table>
  </div>
</nz-content>

<div *ngFor="let userData of userDatas" class="inner-content">
  <div class="card-body">
    <div>
      <div *ngIf="!isCollapsed">
        <div nz-row>
          <div nz-col nzSpan="8">
              <nz-avatar nzIcon="user" [nzSrc]="userData.photo" [nzShape]="'circle'" class="picture picbutt">
              </nz-avatar>
          </div>

          <div nz-col nzSpan="12">
            <!--            <a  class="nav-link" (click)="getLink(userData.id)">-->
            <a  class="nav-link" (click)="getUserEditPage(userData.id)">
            <h2 *ngIf="userData.firstName" style="display: inline-block;">{{userData.firstName}}&nbsp;</h2>
            <h2 *ngIf="userData.lastName" style="display: inline-block;">{{userData.lastName}}</h2>
            <span>{{userData.industry | cvData:"industry"}}</span>
              <div>
            <p style="display: inline-block; font-size: 20px">username:</p>
            <h5 style="display: inline-block;">{{userData.username}}</h5>
              </div>
            <hr *ngIf="userData.firstName || userData.lastName || userData.headline || userData.industry">
            <p>{{userData.region}}</p>
            <p>{{userData.email}}</p>
            <p>{{userData.phone}}</p>
            <div class="square"></div>
            </a>
          </div>
          <div nz-col nzSpan="2" nzOffset="2">
            <button
              nz-popconfirm
              nzPopconfirmTitle="Are you sure to delete this user?"
              nzOkText="ok"
              nzCancelText="cancel"
              (nzOnConfirm)="deleteUser(userData.id)"
              class="btn btn-danger" type="button" style="color: white;">
              <i class="fa fa-trash-alt" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>

      <div *ngIf="isCollapsed">
        <div nz-row>
          <div nz-col nzSpan="8">
            <nz-avatar nzIcon="user" [nzSrc]="userData.photo" [nzShape]="'circle'" class="picture picbutt" style="height: 80px;width: 80px;">
            </nz-avatar>
          </div>
          <div nz-col nzSpan="12">
<!--            <a  class="nav-link" (click)="getLink(userData.id)">-->
            <a  class="nav-link" (click)="getUserEditPage(userData.id)">
            <h2>{{userData.firstName +" " + userData.lastName}}</h2>
              <div>
                <p style="display: inline-block; font-size: 20px">username:</p>
                <h5 style="display: inline-block;">{{userData.username}}</h5>
              </div>
            <hr>
            <p style="color: #0068A7;">{{userData.industry | cvData:"industry"}}</p>
            </a>
          </div>
          <div nz-col nzSpan="2" nzOffset="2">
            <button
              nz-popconfirm
              nzPopconfirmTitle="Are you sure to delete this user?"
              nzOkText="ok"
              nzCancelText="cancel"
              (nzOnConfirm)="deleteUser(userData.id)"
              class="btn btn-danger" type="button" style="color: white;">
              <i class="fa fa-trash-alt" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div align="center">
  <nz-pagination *ngIf="totalPage!=1" (nzPageIndexChange)="changePage($event)" [nzPageIndex]=pageNum+1
                 [nzTotal]=totalPage*10 nzShowQuickJumper></nz-pagination>
</div>
<br />
</nz-content>

<nz-content *ngIf="edit_user_info">
  <button (click)="Back()" nz-button style="background-color: #0068A7;color: white">< Back</button>
  <app-cv></app-cv>
</nz-content>
