<!DOCTYPE html>
<hr />
<nz-layout>
  <nz-content>
    <div nz-row style="color: rgba(0,0,0,0.27);font-family: Source Sans Pro,Calibri,fantasy">
      <div nz-col nzSpan="8" class="footer">
        © 2020 University of Melbourne
      </div>
      <div nz-col nzSpan="8" align="center" class="footer">
        Made by COMP90082 Team 18
      </div>
      <div nz-col nzSpan="8" align="right" style="color: rgba(0,0,255,0.45)" class="footer">
        <a href="https://confluence.cis.unimelb.edu.au:8443/display/COMP90082202018/Home">
          about
        </a>
      </div>
    </div>
  </nz-content>
</nz-layout>
