<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" style="font-size:18px"href="#">e-portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="font-size:14px">
        <a [routerLink]="['/exp']" class="nav-link" href="#">Explore</a>
      </li>
    </ul>
    <a [routerLink]="['/login']" class="btn btn-light" style="font-size:14px">Sign in/Sign up</a>
    <a [routerLink]="['/cv']" class="btn btn-light" style="margin-left: 20px; font-size:14px">My Profile</a>
  </div>
</nav>
