<!DOCTYPE html>
<nz-layout style="background-color: transparent">
  <div class="row" style="margin-top: 50px">
    <div class="col-md-6 offset-md-3 col-xs-12">
          <nz-switch  *ngIf="!admin_account" [ngModel]="checkbox['isPublic']" nzCheckedChildren="On" nzUnCheckedChildren="Off"
            (click)="checkbox['isPublic'] =! checkbox['isPublic'];updateSecurity()"></nz-switch>
          <label *ngIf="!admin_account" style="color: transparent">_</label>
          <label *ngIf="!admin_account" >Make the CV public</label>
      <br *ngIf="!admin_account"/><br *ngIf="!admin_account"/>
      <form [formGroup]="updatePassword">
        <div class="form-group" *ngIf="update">
          <nz-form-label>Current password</nz-form-label>
          <input type="password" class="form-control" id="Current password" formControlName="Current password" nz-input>
          <div
            *ngIf="updatePassword.get('Current password').invalid && (updatePassword.get('Current password').dirty || updatePassword.get('Current password').touched)">
            <div class="errprompt" *ngIf="updatePassword.get('Current password').errors.required">
              Password is required.
            </div>
          </div>

          <nz-form-label>New password</nz-form-label>
          <input type="password" class="form-control" id="New password" formControlName="New password" nz-input>
          <div
            *ngIf="updatePassword.get('New password').invalid && (updatePassword.get('New password').dirty || updatePassword.get('New password').touched)">
            <div class="errprompt" *ngIf="updatePassword.get('New password').errors.required">
              Password is required.
            </div>
            <div class="errprompt" *ngIf="updatePassword.get('New password').errors.minlength">
              Password must be at least 6 characters.
            </div>
          </div>

          <nz-form-label>Confirm password</nz-form-label>
          <input type="password" class="form-control" id="Confirm password" formControlName="Confirm password" nz-input>
          <div
            *ngIf="updatePassword.get('Confirm password').invalid && (updatePassword.get('Confirm password').dirty || updatePassword.get('Confirm password').touched)">
            <div class="errprompt" *ngIf="updatePassword.get('Confirm password').errors.required">
              Please confirm new password.
            </div>
            <div class="errprompt" *ngIf="updatePassword.get('Confirm password').errors">
              Two passwords didn't match.
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary" *ngIf="!update" (click)="swapUpdate()">Change
          password</button>

        <nz-row *ngIf="update">
          <div nz-col nzSpan="8">
            <button type="button" class="btn btn-primary"  [disabled]="updatePassword.invalid"
              (click)="updatePW(updatePassword.value)">Save</button>
          </div>
          <div align="right">
            <a [routerLink] (click)="swapUpdate();cancel()" style="horiz-align:right">Cancel</a>
          </div>
        </nz-row>

      </form>
    </div>
  </div>
</nz-layout>
