<nz-layout>
  <app-top-bar>
  </app-top-bar>

  <nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzWidth="256px"
              nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
              nzCollapsible="true">
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="idcard" nzTheme="outline"></i>
          <span>My CV</span>
          <a routerLink="/cv"></a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="user" nzTheme="outline"></i>
          <span>My Account</span>
          <a routerLink="/my_account"></a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="safety-certificate" nzTheme="outline"></i>
          <span>Security</span>
          <a routerLink="/security"></a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="background-color: white">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
