<app-top-bar></app-top-bar>
<body>
<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">

  <div class="section" id="section0">
    <div class="fp-bg"></div>
    <h1>Write your Resume Beautifully</h1></div>
    
	<div class="section" id="section1" (click)="fullpage_api.moveSectionDown()">
    <div class="fp-bg"></div>
    <h1>Share with others securely</h1></div>

    <div class="section" id="section3">
		<div class="slide">
            <div class="fp-bg"></div><main>Introduction1 <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. </main></div>
		<div class="slide">
            <div class="fp-bg"></div><main>Introduction2 <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</main></div>
		<div class="slide">
            <div class="fp-bg"></div><main>Introduction3 <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</main></div>
	</div> 

	<div class="section" id="section2">
    <div class="fp-bg"></div>
    <h1>Join Now</h1></div>
</div>
</body>