<!DOCTYPE html>
<app-top-bar></app-top-bar>

<body>
  <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">

    <div class="section" id="section0">
      <div class="fp-bg"></div>
      <h1>Write your Resume Beautifully</h1>
    </div>

    <div class="section" id="section1" (click)="fullpage_api.moveSectionDown()">
      <div class="fp-bg"></div>
      <h1>Share with others securely</h1>
    </div>

    <div class="section" id="section3">
      <div class="slide">
        <div class="fp-bg"></div>
        <main style="font-size: 35px"><b style="font-family: Garamond,sans-serif">Website introduction</b><hr>
          <label style="font-size: 30px;font-family: Garamond,sans-serif">In this website, you can upload your resume, and check out others' resumes. </label></main>
      </div>
      <div class="slide">
        <div class="fp-bg"></div>
        <main style="font-size: 35px"><b style="font-family: Garamond,sans-serif">Product background</b><hr>
          <label style="font-size: 30px;font-family: Garamond,sans-serif">This is a software project of COMP90082, UniMelb.</label></main>
      </div>
      <div class="slide">
        <div class="fp-bg"></div>
        <main  style="font-size: 35px"><b style="font-family: Garamond,sans-serif">Team members</b><hr>
          <label style="font-size: 20px;font-family: Garamond,sans-serif">
            <div>
              <p align="left"><b>Hao Zhang:</b>&nbsp;
              hzzhan1@student.unimelb.edu.au &nbsp; +61 412226685</p>
            </div>
            <div>
              <p align="left"><b>Chuqiao Chen:</b>&nbsp;
              chuqiaoc@student.unimelb.edu.au &nbsp; +61 423966664</p>
            </div>
            <div>
              <p align="left"><b>Zhe Wang:</b>&nbsp;
                wangz12@student.unimelb.edu.au &nbsp; +61 420220128</p>
            </div>
            <div>
              <p align="left"><b>Runze Nie:</b>&nbsp;
                runzen@student.unimelb.edu.au &nbsp; +61 410255787</p>
            </div>
            <div>
              <p align="left"><b>Cheng Qian:</b>&nbsp;
                cqq@student.unimelb.edu.au &nbsp; +61 452292102</p>
            </div>

          </label></main>
      </div>
    </div>

    <div class="section" id="section2">
      <div class="fp-bg"></div>
      <h1>Join Now</h1>
      <div class="wrapper">
        <a [routerLink]="['/login']" class="button">Sign in / Sign up</a>
      </div>
    </div>
  </div>
</body>
