@import '~fullpage.js/dist/fullpage.min.css';
/* body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding-top: calc(50vh - 6em);
    font: 150%/1.6 serif;
    background: url("../../assets/homepage.jpg");
    background-size: cover;
} */
main {
    margin: 0 auto;
    font-family: "microsoft yahei", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    padding: 1em;
    max-width: 20em;
    border-radius: .3em;
    z-index:1;
    position: relative;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
                0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
    background: hsla(0,0%,100%,.5);
    overflow: hidden;
    background-position: center top;
    background-size: cover;
}
main::after {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    background-image: url("../../assets/4.jpg");
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    margin: -30px;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}

h1 {
    /* font-size: 5em;
    font-family: arial,helvetica;
    color: #fff; */
    font-family: "microsoft yahei", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    display: block;
    font-size: 5em;
    color: #f1ebe5;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: -4px;
    text-align: center;
    /* background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%); */
    position: relative;
    /* padding: 100px 50px; */
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
    background-size: cover;
}

.slide{
    background-size: cover;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0{
    background-image: url("../../assets/1.jpg");
}
#section0 h1{
    /* top: 50%; */
    transform: translateY(-50%);
    position: relative;
}
#section1{
    background-image: url("../../assets/2.jpg");
    padding: 6% 0 0 0;
}
#section1 h1{
    /* top: -20%; */
    transform: translateY(-50%);
    position: relative;
}
#section2{
    background-image: url("../../assets/3.jpg");
    padding: 6% 0 0 0;
}
#section2 h1{
    top: -20%;
    transform: translateY(-50%);
    position: relative;
}
#section3{
    background-image: url("../../assets/4.jpg");
    padding: 6% 0 0 0;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-size: 16px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.button:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}
.button:hover {
    background-color: var(--primary-color);
    color: #fff;
    border-bottom: 4px solid darken(var(--primary-color), 10%);

}
.button:hover::before {
    transform: skewX(-45deg) translateX(18.5em);
    transition: all 0.5s ease-in-out;
}

