<ul>
  <table align="center">
    <tr>
      <td height="60px" width="150px">
        Name:
      </td>
      <td height="60px" width="150px">
        <label>
          <input type="text" nz-input placeholder="Someone">
        </label>
      </td>
    </tr>
    <tr>
      <td height="60px" width="150px">
        Age:
      </td>
      <td height="60px" width="150px">
        <label>
          <input type="text" nz-input placeholder="20">
        </label>
      </td>
    </tr>
    <tr>
      <td height="60px" width="150px">
        Email:
      </td>
      <td height="60px" width="150px">
        <label>
          <input type="text" nz-input placeholder="demo@demo.com">
        </label>
      </td>
    </tr>
    <tr>
      <td height="60px" width="150px">
        Phone Number:
      </td>
      <td height="60px" width="150px">
        <label>
          <input type="text" nz-input placeholder="0400000000">
        </label>
      </td>
    </tr>
    <tr>
      <td height="60px" width="150px">
      </td>
      <td height="60px" width="150px">
        <button>
          Change password
        </button>
      </td>
    </tr>
  </table>
</ul>
