<div class="card" class="inner-content">
    <div class="card-body" style="background-color: white">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="assets/untitled.png" class="center-block rounded-circle" alt="anonymous-user"  width="80px" height="80px">
            </div>
            <div class="col-md-6 form-inline">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="AddSectionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add section
                    </button>
                    <div class="dropdown-menu" aria-labelledby="AddSectionButton">
                        <a class="dropdown-item" href="#" (click)="openModal('introduction')">Introduction</a>
                        <a class="dropdown-item" href="#" (click)="openModal('about')">About</a>
                        <a class="dropdown-item" href="#" (click)="openModal('feature')">Feature</a>
                        <a class="dropdown-item" href="#" (click)="openModal('workExperience')">Work Experience</a>
                        <a class="dropdown-item" href="#" (click)="openModal('education')">Education</a>
                        <a class="dropdown-item" href="#" (click)="openModal('licenseCertification')">License Certification</a>
                        <a class="dropdown-item" href="#" (click)="openModal('volunteerExperience')">Volunteer Experience</a>
                        <a class="dropdown-item" href="#" (click)="openModal('skill')">Skill	</a>
                        <a class="dropdown-item" href="#" (click)="openModal('project')">Project</a>
                        <a class="dropdown-item" href="#" (click)="openModal('honourAward')">Honour Award</a>
                        <a class="dropdown-item" href="#" (click)="openModal('publication')">Publication</a>
                        <a class="dropdown-item" href="#" (click)="openModal('language')">Language</a>
                        <a class="dropdown-item" href="#" (click)="openModal('recommendation')">Recommendation</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="MoreButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:30px;">
                        More...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="MoreButton">
                        <a class="dropdown-item" href="#">Share CV via Secure Link</a>
                        <a class="dropdown-item" href="#">Save to PDF</a>
                    </div>
                </div>
             </div>
        </div>
        <div class="row itemsBlock">
            <div *ngFor="let key of Object.keys(userDatas)" class="col-md-12">
                <span class="itemitle " *ngIf="userDatas[key]">{{key}}: {{userDatas[key]}}</span>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngFor="let cvData of cvDatas">
    {{ cvData }}
    <div *ngIf="cvData.value!=[]" class="card" class="inner-content">
        <div class="card-body">
            <h5 class="card-title">cvData.key</h5>
            <div class="row align-items-center">
               <span>cvData.value</span>
            </div>
        </div>
    </div>
</div> -->



