<!DOCTYPE html>
<div *ngIf="cvForms">
  <ng-container *ngFor="let item of cvItems">
    <ng-template [ngIf]="item=='introduction'" [ngIfElse]="about">
      <div class="card-body cover" style="min-height: 240px;z-index: 2;">
        <button class="btn add-btn a-right" (click)="editForm('introduction')" type="button"
          style="margin-left:15px;"><i class="fa fa-pencil-alt" aria-hidden="true"></i></button>
        <button *ngIf="!admin_account" class="btn btn-primary a-right" type="button" id="MoreButton" style="margin-left:15px;"
          (click)="modalService.openModal('share')">Share CV</button>
        <div class="dropdown a-right">
          <button class="btn btn-primary dropdown-toggle" type="button" id="AddSectionButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="outline:none;">
            Add section
          </button>
          <div class="dropdown-menu" aria-labelledby="AddSectionButton">
            <ng-container *ngFor="let item of cvItems">
              <ng-container *ngIf="!(item=='introduction') && !(cvForms[item].summary)">
                <a class="dropdown-item" href="#"
                  (click)="modalService.openModal(item, true)">{{modalService.getTitle(item)}}</a>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <!-- <img src="assets/untitled.png" class="rounded-circle" alt="anonymous-user" width="120px" height="120px"> -->
        <button (click)="modalService.openModal('avartar')" class="picbutt">
          <nz-avatar nzIcon="user" [nzSrc]="avartarUrl" [nzShape]="'circle'" class="picture"></nz-avatar>
        </button>

        <div class="square"></div>
        <div class="col-16">
          <h2 *ngIf="cvForms[item].firstName" style="display: inline-block;">{{cvForms[item].firstName}}&nbsp;</h2>
          <h2 *ngIf="cvForms[item].lastName" style="display: inline-block;">{{cvForms[item].lastName}}</h2>
          <span *ngIf="cvForms[item].industry" style="display: inline-block;"> {{cvForms[item].industry | cvData: 'industry' }} </span>
          <h5 *ngIf="cvForms[item].headline">{{cvForms[item].headline}}</h5>
          <hr *ngIf="cvForms[item].firstName || cvForms[item].lastName || cvForms[item].industry || cvForms[item].headline">
          <p *ngIf="cvForms[item].gender && cvForms[item].gender != '2'" style="display: inline-block;">{{cvForms[item].gender | cvData: 'gender'}}&nbsp;&nbsp;</p>
          <p *ngIf="cvForms[item].birthday" style="display: inline-block;">born at {{cvForms[item].birthday}}&nbsp;&nbsp;</p>
          <p *ngIf="cvForms[item].country" style="display: inline-block;font-style: oblique;">living in
            {{cvForms[item].country}} currently</p>
          <p *ngIf="cvForms[item].workingYear">{{cvForms[item].workingYear}} years experience</p>
          <p *ngIf="cvForms[item].highestEducation">{{cvForms[item].highestEducation | cvData:"degree"}}</p>
          <!-- <p *ngIf="cvForms[item].currentEducation">
            <ng-container *ngIf="cvForms[item].currentEducation.degree">
              {{cvForms[item].currentEducation.degree | cvData: 'degree'}}
              <ng-container *ngIf="cvForms[item].currentEducation.fieldOfStudy">
              in {{cvForms[item].currentEducation.fieldOfStudy}}
              </ng-container>
            </ng-container>
          </p> -->
          <p *ngIf="cvForms[item].email">{{cvForms[item].email}}</p>
          <p *ngIf="cvForms[item].phoneNumber">{{cvForms[item].phoneNumber}}</p>
          <p *ngIf="cvForms[item].address" style="display: inline-block;">{{cvForms[item].address}}&nbsp;</p>
          <p *ngIf="cvForms[item].postalCode" style="display: inline-block;">({{cvForms[item].postalCode}})</p>

        </div>
      </div>
    </ng-template>


    <ng-template #about>
      <ng-template [ngIf]="item=='about'" [ngIfElse]="feature">
        <ng-container *ngIf="cvForms[item].summary">
          <card-about [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item></card-about>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template #feature>
      <ng-template [ngIf]="item=='feature'" [ngIfElse]="workexperience">
        <ng-container *ngIf="cvForms[item].length">
          <card-feature [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item></card-feature>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template #workexperience>
      <ng-template [ngIf]="item=='workexperience'" [ngIfElse]="education">
        <ng-container *ngIf="cvForms[item].length">
          <card-we [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item></card-we>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template #education>
      <ng-template [ngIf]="item=='education'" [ngIfElse]="licensecertification">
        <ng-container *ngIf="cvForms[item].length">
          <card-edu [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item></card-edu>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template #licensecertification>
      <ng-template [ngIf]="item=='licensecertification'" [ngIfElse]="volunteerexperience">
        <ng-container *ngIf="cvForms[item].length">
          <card-lc [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item></card-lc>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template #volunteerexperience>
      <ng-template [ngIf]="item=='volunteerexperience'" [ngIfElse]="skill">
        <ng-container *ngIf="cvForms[item].length">
          <card-ve [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item></card-ve>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template #skill>
      <ng-template [ngIf]="item=='skill'" [ngIfElse]="project">
        <ng-container *ngIf="cvForms[item].length">
          <card-skill [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item></card-skill>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template #project>
      <ng-template [ngIf]="item=='project'" [ngIfElse]="honouraward">
        <ng-container *ngIf="cvForms[item].length">
          <card-project [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item></card-project>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template #honouraward>
      <ng-template [ngIf]="item=='honouraward'" [ngIfElse]="publication">
        <ng-container *ngIf="cvForms[item].length">
          <card-ha [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item></card-ha>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template #publication>
      <ng-template [ngIf]="item=='publication'" [ngIfElse]="language">
        <ng-container *ngIf="cvForms[item].length">
          <card-publication [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item>
          </card-publication>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template #language>
      <ng-template [ngIf]="item=='language'" [ngIfElse]="recommendation">
        <ng-container *ngIf="cvForms[item].length">
          <card-language [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item></card-language>
        </ng-container>
      </ng-template>
    </ng-template>
    <ng-template #recommendation>
      <ng-template [ngIf]="item=='recommendation'">
        <ng-container *ngIf="cvForms[item].length">
          <card-re [title]=modalService.getTitle(item) [data]=cvForms[item] [classname]=item></card-re>
        </ng-container>
      </ng-template>
    </ng-template>

    <P></P>
  </ng-container>

</div>
