<nz-layout class="app-layout">
  <nz-sider nzTheme="light" class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">

    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cvs">My CV</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/my-account">My account</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/settings">Settings</a>
          </li>
        </ul>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
