<!DOCTYPE html>
<div class="card-body">
  <button 
    nz-popconfirm
    nzPopconfirmTitle="Are you sure to delete this item?"
    nzOkText="ok"
    nzCancelText="cancel"
    (nzOnConfirm)="deleteForm()"
    class="btn add-btn a-right" type="button" style="color: red;">
    <i class="fa fa-trash-alt" aria-hidden="true"></i></button>
  <button class="btn add-btn a-right" (click)="editForm()" type="button">
    <i class="fa fa-pencil-alt" aria-hidden="true"></i></button>

  <h2>{{title}}</h2>
  <hr />
  <div class="about">
      <blockquote>
          <p>{{data.summary}}</p>
    
      </blockquote>

  </div>

</div>
<P></P>
