<!DOCTYPE html>
<div class="card-body">
  <button class="btn add-btn a-right" (click)="addForm()" type="button">
    <i class="fa fa-plus" aria-hidden="true"></i></button>
  <h2>{{title}}</h2>
  <hr />
  <div *ngFor="let item of data" class="cover">
    <div class="row">
      <div class="col-10">

        <h5 *ngIf="item.schoolName" style="font-style: normal;display: inline-block;">{{item.schoolName}}</h5>
        <span *ngIf="item.fieldOfStudy" style="display: inline-block;">{{item.fieldOfStudy}}</span>
        <br>
        <h5 *ngIf="item.degree" style="display: inline-block;font-style:inherit;">{{item.degree}}&nbsp;</h5>
        <h6 *ngIf="item.grade" style="display: inline-block;">with a grade of <strong>{{item.grade}}</strong></h6>
        <br>
        <p *ngIf="item.startYear" style="display: inline-block;">{{item.startYear}}&nbsp;</p>
        <p *ngIf="item.endYear" style="display: inline-block;">to {{item.endYear}}</p>
        <br>
        <h6 *ngIf="item.activityAndSociety">{{item.activityAndSociety}}</h6>
        <h6 *ngIf="item.description">{{item.description}}</h6>

      </div>
      <div class="col-2">
        <button class="btn add-btn a-right" (click)="deleteForm(item.id)" type="button">
          <i class="fa fa-trash-o" aria-hidden="true"></i></button>
        <button class="btn add-btn a-right" (click)="editForm(item)" type="button">
          <i class="fa fa-pencil" aria-hidden="true"></i></button>
      </div>
    </div>
    <br>
  </div>
</div>
<P></P>
