<!DOCTYPE html>
<div class="card-body">
  <button class="btn add-btn a-right" (click)="addForm()" type="button">
    <i class="fa fa-plus" aria-hidden="true"></i></button>
  <h2>{{title}}</h2>
  <hr />
  <ul>
    <div *ngFor="let item of data" class="cover">
      <li>
        <div class="row">
          <div class="col-8">
            <h5 *ngIf="item.title" style="font-style: normal;display: inline-block;">{{item.title}}</h5>
            <span *ngIf="item.associatedWith" style="display: inline-block;">{{item.associatedWith}}</span>
            <h6 *ngIf="item.issuer">Issuer: {{item.issuer}}</h6>
            <p *ngIf="item.issueDate">Issued on {{item.issueDate}}</p>
            <h6 *ngIf="item.description">{{item.description}}</h6>
            <h6 *ngIf="item.media">
              <div class="collapse" [id]="'ha'+item.id">
                <ng-container *ngFor="let file of fileService.toFileList(item.media)">
                  <a href="#" (click)="clickURL(file.url)">
                    {{file.name}}
                  </a>
                  <br>
                </ng-container>
              </div>
            </h6>
          </div>
          <div class="col-4">
            <button nz-popconfirm nzPopconfirmTitle="Are you sure to delete this item?" nzOkText="ok"
              nzCancelText="cancel" (nzOnConfirm)="deleteForm(item.id)" class="btn add-btn a-right" type="button"
              style="color: red;">
              <i class="fa fa-trash-alt" aria-hidden="true"></i></button>
            <button class="btn add-btn a-right" (click)="editForm(item)" type="button">
              <i class="fa fa-pencil-alt" aria-hidden="true"></i></button>
            <ng-container *ngIf="item.media">
              <button class="btn add-btn a-right" type="button" data-toggle="collapse"
                [attr.data-target]="'#ha'+item.id" aria-expanded="false" aria-controls="collapseFileList">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
              </button>
            </ng-container>
          </div>
        </div>
      </li>
      <br>
    </div>
  </ul>
</div>
