<!DOCTYPE html>
<div class="card-body">
  <button class="btn add-btn a-right" (click)="addForm()" type="button">
    <i class="fa fa-plus" aria-hidden="true"></i></button>
  <h2>{{title}}</h2>
  <hr />
  <ul>
    <div *ngFor="let item of data" class="cover">
      <div class="row">
        <div class="col-10">
 
          <li>
            <h5 *ngIf="item.referrerTitle" style="display: inline-block;font-style: normal;">{{item.referrerTitle}}&nbsp;</h5>
            <h5 *ngIf="item.referrerName" style="display: inline-block;font-style: normal;">{{item.referrerName}}</h5>
            <h6 *ngIf="item.description">{{item.description}}</h6>
            <h6 *ngIf="item.media">
              <a href="#" (click)="clickURL(item.media)">
                File
              </a>
            </h6>

          </li>
        </div>
        <div class="col-2">
          <button class="btn add-btn a-right" (click)="deleteForm(item.id)" type="button">
            <i class="fa fa-trash-o" aria-hidden="true"></i></button>
          <button class="btn add-btn a-right" (click)="editForm(item)" type="button">
            <i class="fa fa-pencil" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </ul>
</div>
