<!DOCTYPE html>
<div class="card-body">
  <button class="btn add-btn a-right" (click)="addForm()" type="button">
    <i class="fa fa-plus" aria-hidden="true"></i></button>
  <h2>{{title}}</h2>
  <hr />
  <ul>
  <div *ngFor="let item of data" class="cover">
    <li>
    <div class="row">
      <div class="col-8">

        <h5 *ngIf="item.organizationName" style="display: inline-block;font-style: normal;">{{item.organizationName}}
        </h5>
        <span *ngIf="item.role" style="display: inline-block;">{{item.role}}</span>
        <br *ngIf="item.role || item.organizationName">
        <h6 *ngIf="item.cause">{{item.cause}}</h6>
        <p *ngIf="item.startDate" style="display: inline-block;">{{item.startDate}}&nbsp;</p>
        <p *ngIf="item.endDate" style="display: inline-block;">to {{item.endDate}}</p>

        <h6 *ngIf="item.description">{{item.description}}</h6>

        <h6 *ngIf="item.media">
          <div class="collapse" [id]="'vol'+item.id">
            <ng-container *ngFor="let file of fileService.toFileList(item.media)">
              <a href="#" (click)="clickURL(file.url)">
                {{file.name}}
              </a>
              <br>
            </ng-container>
          </div>
        </h6>

      </div>
      <div class="col-4">
        <button 
          nz-popconfirm
          nzPopconfirmTitle="Are you sure to delete this item?"
          nzOkText="ok"
          nzCancelText="cancel"
          (nzOnConfirm)="deleteForm(item.id)"
          class="btn add-btn a-right" type="button" style="color: red;">
        <i class="fa fa-trash-alt" aria-hidden="true"></i></button>
        <button class="btn add-btn a-right" (click)="editForm(item)" type="button">
          <i class="fa fa-pencil-alt" aria-hidden="true"></i></button>
        <ng-container *ngIf="item.media">
          <button class="btn add-btn a-right" type="button" data-toggle="collapse" [attr.data-target]="'#vol'+item.id" aria-expanded="false" aria-controls="collapseFileList">
            <i class="fa fa-paperclip" aria-hidden="true"></i>
          </button>
        </ng-container>
      </div>
    </div>
  </li>
    <br>
  </div>
</ul>
</div>
